* {
	box-sizing: border-box;
}

html {
	background-color: rgb(33, 33, 33);
	font-family: sans-serif;
	font-size: 1em;
	color: white;
	line-height: 1.5;
	height: 100%;
	margin: 0;
}

body {
	max-width: 940px;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

h1 {
	font-size: 150%;
	margin: 8px auto;
}

.kachel {
	background-color: rgb(57, 57, 57);
	border-radius: 6px;
	margin: 10px 0;
	padding: 0 0;
	box-shadow: 0 0 3px 3px rgb(25, 25, 25);
}

.button,
#pairs {
	padding: 2px 0;
	border-radius: 5px;
	border: 2px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button:hover {
	border: 2px solid #696969;
}

.active {
	padding: 2px 0;
	margin-top: 10px;
	background-color: rgb(180, 180, 180);
	border: 2px solid black;
	border-radius: 5px;
	color: black;
}

[class*=spalte-] {
	float: left;
	text-align: center;
	min-height: 20px;
}

.spalte-50 {
	width: 50%;
}

.spalte-100 {
	width: 100%;
}

.spalte-feld {
	width: 49%;
}

.spalte-set {
	width: 49%;
}

.spalte-abstand {
	width: 2%;
}

.spalte-buttonAbstand {
	width: 2%;
}

.spalte-buttonSize {
	width: 15%;
}

.spalte-buttonSizePair {
	width: 9%;
}

.spalte-buttonSizeSpieler {
	width: 5%;
}

.spalte-title {
	width: 40%;
	text-align: right;
}

.spalte-titleSpieler {
	width: 45%;
	text-align: right;
}

.textSize {
	font-size: 140%;
}

.spalte-stopuhrValue,
.spalte-globalVersucheValue {
	padding: 5px 0;
	text-align: left;
	font-size: 140%;
	width: 20%;
}

.spalte-stopuhr,
.spalte-globalVersuche {
	padding: 5px 0;
	text-align: right;
	font-size: 140%
}

.spalte-stopuhr {
	width: 80%;
}

.spalte-globalVersuche {
	width: 35%;
}

.spalte-spielerAnzahl1 {
	width: 40%;
}

.spalte-spielerAnzahl2 {
	width: 28%;
}

.spalte-spielerAnzahl3 {
	width: 16%;
}

.spalte-spielerAnzahl4 {
	width: 4%;
}

.spalte-spielerAbstand {
	width: 4%;
}

.spalte-spielerSize {
	width: 20%;
}

.spalte-spielerVersuche,
.spalte-spielerPunkte {
	width: 50%;
}

.spalte-spielerVersucheTitle,
.spalte-spielerPunkteTitle {
	width: 80%;
	text-align: right;
}

.spalte-spielerVersucheValue,
.spalte-spielerPunkteValue {
	width: 20%;
	text-align: left;
}

.playerTag {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 150%;
	overflow: hidden;
	white-space: nowrap;
}

.spalte-buttonStart,
.spalte-buttonReset {
	width: 25%;
	font-size: 120%;
}

.spalte-buttonStartAbstand {
	width: 20%;
}

.spalte-buttonStartResetAbstand {
	width: 10%
}

.spalte-memorySeitenAbstand {
	width: 8%;
	height: 73.6px;
	margin: 1%;
}

.underline {
	border-bottom: 1px solid white;
}

.playerStats {
	font-size: 90%;
}

.startBG {
	background-color: rgb(60, 179, 113) !important;
	color: black;
}

.highlight {
	box-shadow: 0 0 5px 5px rgb(86, 176, 61);
	border-radius: 15px
}

#playerList {
	padding: 10px 0;
}

.memory-card {
	width: 8%;
	float: left;
	margin: 1%;
}

.memory-flip {
	transition-duration: 0.3s;
	transform: scaleX(0.1);
}

.memory-unflip {
	transition-duration: 0.3s;
	transform: scaleX(1);
}

.round {
	border-radius: 16px;
}

#result {
	font-size: 148%;
	padding: 0 10px 10px 10px;
}

img.memory {
	position: relative;
	outline: 4px solid grey;
	border: 1px solid #696969;
	box-shadow: 0 0 3px 3px black;
	-moz-outline-radius: 4px;
}

img.memory:hover {
	outline: 4px solid silver;
	border: 1px solid #696969;
}

@media only screen and (max-width: 600px) {
	body {
		min-width: 500px;
	}

	h1 {
		font-size: 140%;
	}

	.textSize {
		font-size: 140%;
	}

	.spalte-feld {
		width: 100%;
	}

	.spalte-set {
		width: 100%;
	}

	.spalte-buttonSize,
	.spalte-buttonSizePair,
	.spalte-buttonSizeSpieler {
		width: 10%;
	}

	.spalte-buttonSizePair {
		width: 9%;
	}

	.spalte-abstand {
		width: 0%;
	}

	.spalte-stopuhr {
		width: 80%;
	}

	.spalte-globalVersuche {
		width: 50%;
	}

	.spalte-title,
	.spalte-titleSpieler {
		width: 41%;
		text-align: right;
	}

	.spalte-spielerSize {
		width: 23%;
	}

	.spalte-spielerAnzahl1 {
		width: 38.5%;
	}

	.spalte-spielerAnzahl2 {
		width: 26%;
	}

	.spalte-spielerAnzahl3 {
		width: 13.5%;
	}

	.spalte-spielerAnzahl4 {
		width: 1%;
	}

	.spalte-spielerAbstand {
		width: 2%;
	}

	.spalte-spielerVersuche,
	.spalte-spielerPunkte {
		width: 100%;
	}

	.spalte-spielerVersucheTitle,
	.spalte-spielerPunkteTitle {
		width: 70%;
		text-align: right;
	}

	.spalte-spielerVersucheValue,
	.spalte-spielerPunkteValue {
		width: 30%;
		text-align: left;
	}

	.spalte-buttonStart,
	.spalte-buttonReset {
		width: 25%;
		font-size: 150%;
	}

	.spalte-buttonStartAbstand {
		width: 20%;
	}

	.spalte-buttonStartResetAbstand {
		width: 10%
	}

	[class*=spalte-] {
		float: left;
		min-height: 20px;
	}

	.spalte-memorySeitenAbstand {
		width: 0%;
		height: 0px;
		margin: 0%;
	}

	.memory-card {
		width: 19%;
		float: left;
		margin: 3%;
	}

	img.memory {
		position: relative;
		outline: 8px solid grey;
		border: 1px solid #696969;
		box-shadow: 0 0 3px 3px black;
		-moz-outline-radius: 4px;
	}

	img.memory:hover {
		outline: 8px solid silver;
		border: 1px solid #696969;
	}
}

@media only screen and (min-width:600px) and (max-width: 900px) {
	h1 {
		font-size: 140%;
	}

	.textSize {
		font-size: 140%;
	}

	.spalte-feld {
		width: 100%;
	}

	.spalte-set {
		width: 100%;
	}

	.spalte-buttonSize,
	.spalte-buttonSizePair,
	.spalte-buttonSizeSpieler {
		width: 10%;
	}

	.spalte-abstand {
		width: 0%;
	}

	.spalte-stopuhr {
		width: 80%;
	}

	.spalte-globalVersuche {
		width: 40%;
	}

	.spalte-title,
	.spalte-titleSpieler {
		width: 36%;
		text-align: right;
	}

	.spalte-spielerSize {
		width: 23%;
	}

	.spalte-spielerAnzahl1 {
		width: 38.5%;
	}

	.spalte-spielerAnzahl2 {
		width: 26%;
	}

	.spalte-spielerAnzahl3 {
		width: 13.5%;
	}

	.spalte-spielerAnzahl4 {
		width: 1%;
	}

	.spalte-spielerAbstand {
		width: 2%;
	}

	.spalte-spielerVersuche,
	.spalte-spielerPunkte {
		width: 100%;
	}

	.spalte-spielerVersucheTitle,
	.spalte-spielerPunkteTitle {
		width: 70%;
		text-align: right;
	}

	.spalte-spielerVersucheValue,
	.spalte-spielerPunkteValue {
		width: 30%;
		text-align: left;
	}

	.spalte-buttonStart,
	.spalte-buttonReset {
		width: 25%;
		font-size: 130%;
	}

	.spalte-buttonStartResetAbstand {
		width: 10%
	}

	.spalte-buttonStartAbstand {
		width: 20%;
	}

	.spalte-memory-card {
		width: 16.6%;
		float: left;
	}

	.spalte-memorySeitenAbstand {
		width: 0%;
		height: 0px;
		margin: 0%;
	}

	[class*=spalte-] {
		float: left;
		min-height: 20px;
	}

	.memory-card {
		width: 12.66%;
		float: left;
		margin: 2%;
	}

	img.memory {
		position: relative;
		outline: 5px solid grey;
		border: 1px solid #696969;
		box-shadow: 0 0 3px 3px black;
		-moz-outline-radius: 4px;
	}

	img.memory:hover {
		outline: 5px solid silver;
		border: 1px solid #696969;
	}

	#result {
		font-size: 148%;
	}
}

@media only screen and (min-width:750px) and (max-width: 900px) {
	.memory-card {
		width: 10.5%;
		float: left;
		margin: 1%;
	}
}